@use 'Variables' as *;
@use 'Mixins' as *;

.avis-container {
  width: 150px;
  background-color: black;
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  position: fixed;
  top: 200px;
  right: 80px;
  @media (max-width: 1600px) {
    position: unset;
    justify-self: center;
  }
  span {
    color: white;

    &.etoile {
      color: gold;
    }
  }
  .etoiles {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  @media (max-width: 1200px) {
    display: none;
  }
}
