@use 'Variables' as *;
@use 'Mixins' as *;

.pretarifs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80%;
  margin: auto;
  .bulle-pec {
    display: flex;
    flex-direction: row;
    background-color: $background-color;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 20px auto;
    text-align: center;
    height: 20vh;
    gap: 20px;
    .img-container {
      width: 100%;
      height: 50%;
      display: contents;
      .img-pec {
        align-self: center;
        width: 33%;
      }
    }
    .title-pec {
      font-family: $title-family;
      font-size: 1.8em;
      color: $primary-color;
      margin-bottom: 10px;
    }
    .text-pec {
      font-family: $font-family;
      font-size: 1em;
      color: $button-color;
      line-height: 1.5em;
    }
  }
}
