@use 'Variables' as *;
@use 'Mixins' as *;

.pretarifs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80%;
  margin: auto;
  @media (max-width: 1000px) {
    flex-direction: column;
    width: 90%;
    gap: 0;
  }
  .bulle-pec {
    display: flex;
    flex-direction: row;
    background-color: $background-color;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 20px auto;
    text-align: center;
    height: 20vh;
    gap: 20px;
    @media (min-width: 1001px) and (max-width: 1600px) {
      padding: 10px 10px 30px 10px;
    }

    @media (max-width: 1000px) {
      width: 95%;
      padding: 10px 10px 10px 10px;
      margin: 10px auto;
    }

    .img-container {
      width: 100%;
      height: 50%;
      display: contents;
      .img-pec {
        align-self: center;
        width: 33%;
        border-radius: 30px;
      }
    }
    @media (max-width: 1000px) {
      .img-container {
        height: 50%;
        width: 25%;
        .img-pec {
          height: 100%;
          width: unset;
        }
      }
    }
    @media (max-width: 600px) {
      .img-container {
        .img-pec {
          max-height: 10vh;
        }
      }
    }
    .title-pec {
      font-family: $title-family;
      font-size: 1.8em;
      color: $primary-color;
      margin-bottom: 10px;
    }

    @media (min-width: 1001px) and (max-width: 1600px) {
      .title-pec {
        font-size: 1em;
      }
      .pec-text {
        font-size: 0.7em;
      }
    }
    @media (max-width: 1000px) {
      .title-pec {
        font-size: 0.8em;
      }
      .pec-text {
        font-size: 0.5em;
      }
    }
    .pec-text {
      font-family: $font-family;
      font-size: 0.8em;
      color: $button-color;
      line-height: 1.5em;
    }
  }
}
