@use 'Variables' as *;
@use 'Mixins' as *;

.contacts {
  background-color: $background-color;
  color: $button-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  @media (min-width: 601px) and (max-width: 1200px) {
    width: unset;
  }
  @media (max-width: 600px) {
    width: unset;
    flex-direction: column;
    align-items: center;
  }
  .tel {
    width: 30%;
  }
  @media (max-width: 600px) {
    .tel {
      width: 90%;
    }
  }
  .adresse {
    width: 30%;
    span {
      display: block;
    }
  }
  @media (max-width: 600px) {
    .adresse {
      width: 90%;
    }
  }
  .rdvdocto {
    width: 30%;
    align-items: center;
    a {
      padding: 3px;
      background-color: $background-color;
      display: flex;
      height: 40px;
      width: 40px;
      border-radius: 90%;
      margin: 10px;
      transition: transform 0.2s ease-in-out;
      align-items: center;
      justify-self: center;
      &:hover {
        transform: scale(1.1);
      }
      .docto-img {
        object-fit: cover;
      }
    }
  }
  @media (max-width: 600px) {
    .rdvdocto {
      width: 90%;
    }
  }
}
