@use 'Variables' as *;
@use 'Mixins' as *;
@use 'sass:color';

footer {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  .all-info {
    @include general-padding-left($leftpadding);
    background-color: $primary-color;
    color: $background-color;
    display: flex;
    flex-direction: row;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    .name-socials {
      width: 25%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      justify-content: center;
      @media (max-width: 600px) {
        width: 90%;
        flex-direction: row;
        gap: 30px;
        font-size: 0.6em;
      }
      .footer-name {
        font-size: 1.2em;
        font-weight: 700;
        font-family: $font-family;
        max-width: 150px;
        text-align: center;
        margin: 10px;
        h3 {
          margin: 0;
          font-family: $title-family;
        }
      }
      @media (min-width: 601px) and (max-width: 1200px) {
        font-size: 0.8em;
      }
      .socials-links {
        a {
          padding: 3px;
          background-color: $background-color;
          display: flex;
          height: 20px;
          width: 20px;
          border-radius: 90%;
          margin: 10px;
          transition: transform 0.2s ease-in-out;
          &:hover {
            background-color: color.adjust($background-color, $lightness: -10%);
            cursor: pointer;
            transform: scale(1.1);
          }
          .docto {
            object-fit: cover;
          }
        }
      }
    }
    .nav-menu {
      width: 25%;
      display: flex;
      align-items: center;
      .ul-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        font-size: 1.2em;
        font-weight: 500;
        margin: 20px 0;

        li {
          a {
            position: relative;
            display: inline-block;
            transition: transform 0.2s ease;
            transform-origin: center;
            text-decoration: none;
            color: $background-color;
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 3px;
              bottom: -5px;
              left: 0;
              background-color: $background-color;
              transform-origin: right;
              transition: transform 0.4s ease-out;
              border-radius: 2px;
            }
            &:hover {
              transform: scale(1.1);
              cursor: pointer;
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
      @media (min-width: 601px) and (max-width: 1200px) {
        .ul-list {
          font-size: 1em;
        }
      }

      @media (max-width: 600px) {
        .ul-list {
          padding: 0;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
          font-size: 0.6em;
        }
      }
    }
    @media (max-width: 600px) {
      .nav-menu {
        width: 95%;
        nav {
          width: 100%;
        }
      }
    }
    .adresse-tel {
      width: 25%;
      padding: 20px 10px;
      h4 {
        font-family: $font-family;
        margin: 0;
      }
      .adresse {
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.5em;
      }
      @media (min-width: 601px) and (max-width: 1200px) {
        .adresse {
          font-size: 1em;
          line-height: 1.2em;
        }
      }
      @media (max-width: 600px) {
        .adresse {
          font-size: 0.7em;
          line-height: 0.9em;
        }
      }
      .tel {
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.5em;
      }
      @media (min-width: 601px) and (max-width: 1200px) {
        .tel {
          font-size: 1em;
          line-height: 1.2em;
        }
      }
      @media (max-width: 600px) {
        .tel {
          font-size: 0.7em;
          line-height: 0.9em;
        }
      }
    }
  }
  .dev-info {
    background-color: $background-color;
    text-align: center;

    a {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (min-width: 601px) and (max-width: 1200px) {
    .dev-info {
      font-size: 0.8em;
      line-height: 0.8em;
    }
  }
  @media (max-width: 600px) {
    .dev-info {
      font-size: 0.5em;
      line-height: 0.5em;
    }
  }
}
