@use 'Variables' as *;
@use 'Mixins' as *;

#formations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  @media (max-width: 1000px) {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .formation {
    width: 45%;
    background-color: $background-color;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    height: 35vh;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    &:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease;
    }
    @media (max-width: 1000px) {
      width: 100%;
    }
    .formation-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      width: 50%;
      .formation-title {
        font-family: $title-family;
        font-size: 1.5em;
        color: $primary-color;
        margin: 0;
      }
      .formation-infos {
        font-family: $font-family;
        font-size: 1em;
        color: $button-color;
        margin: 0;
      }
    }

    @media (min-width: 1001px) and (max-width: 1600px) {
      .formation-text {
        .formation-title {
          font-size: 1em;
        }
        .formation-infos {
          font-size: 0.7em;
        }
      }
    }

    @media (max-width: 1000px) {
      .formation-text {
        .formation-title {
          font-size: 0.8em;
        }
        .formation-infos {
          font-size: 0.5em;
        }
      }
    }

    .formation-image {
      width: 45%;
      padding: 3px;
      align-content: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        object-position: center;
      }
    }
    @media (max-width: 1600px) {
      .formation-image {
        img {
          width: 95%;
          height: 95%;
        }
      }
    }
  }
}
