@use 'Variables' as *;
@use 'Mixins' as *;

header {
  color: $primary-color;
  justify-content: center;
  background: $background-gradient;
  @include liquid-glass;
  padding: 15px 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  gap: 2vw;
  font-family: $font-family;
  z-index: 1000;
  @include fade-in;
  border-bottom: 2px solid $primary-gradient;
  position: relative;
  min-height: 70px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      $secondary-color,
      transparent
    );
    animation: header-shimmer 4s ease-in-out infinite;
  }

  @keyframes header-shimmer {
    0%,
    100% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
  }
  .name {
    font-size: 1.5em;
    font-weight: 700;
    font-family: $font-family;
    width: 20%;
  }
  .navigation-list {
    width: 40%;
    .nav-ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 3vw;
      font-size: 1.3em;
      font-weight: 500;
      padding: 0;

      li {
        a {
          position: relative;
          display: inline-block;
          transition: transform 0.2s ease;
          transform-origin: center;
          text-decoration: none;
          color: $primary-color;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: -5px;
            left: 0;
            background-color: $primary-color;
            transform-origin: right;
            transition: transform 0.4s ease-out;
            border-radius: 2px;
          }
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  .contact-button {
    background-color: $primary-color;
    color: $button-color;
    @include general-rdv-button;
    font-size: 1.2em;
  }
}

@media (max-width: 1600px) {
  header {
    padding: 15px 0vw 15px 0vw;
    gap: 1vw;
    justify-content: space-around;
    max-width: 100vw;
    .name {
      font-size: 1.2em;
    }
    .navigation-list {
      width: 50%;
      .nav-ul {
        gap: 2vw;
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    padding: 10px 0vw 10px 0vw;
    width: 100%;

    .name {
      font-size: 0.8em;
      width: 20%;
    }
    .navigation-list {
      width: 60%;
      .nav-ul {
        justify-content: space-around;
        li {
          a {
            font-size: 0.4em;
            width: 100%;
          }
        }
      }
    }
    a {
      width: 10%;
      text-align: center;
      .contact-button {
        font-size: 0.4em;
        padding: 6px 10px;
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    padding: 10px 0vw 10px 0vw;
    width: 100%;

    .name {
      font-size: 0.3em;
      width: 20%;
    }
    .navigation-list {
      width: 50%;
      .nav-ul {
        justify-content: space-around;
        gap: 0;
        li {
          a {
            font-size: 0.2em;
            width: 100%;
          }
        }
      }
    }
    a {
      width: 20%;
      text-align: center;
      .contact-button {
        font-size: 0.2em;
        padding: 3px 5px;
      }
    }
  }
}
