@use 'Variables' as *;
@use 'Mixins' as *;

.backimg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  margin-top: 50px;
  .cabimg {
    filter: brightness(95%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    object-position: center;
  }
}
.presentation {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  @include article-gap($gap);
  padding: 115px 0px 0px 10vw;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #fa8072;
  .rdv-tel {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
  }
  &.reverse {
    flex-direction: row;
    justify-content: flex-start;
  }
  &.other {
    background-color: $background-color;
    padding: 0 0 0 10vw;
    @media (max-width: 1000px) {
      padding: 0;
    }
    .text-pres {
      justify-content: space-between;
      padding: 40px 0 40px 0;
      @media (max-width: 1000px) {
        padding: 10px 0 10px 0;
      }
      h2 {
        text-align: center;
        padding: 0;
      }
      @media (min-width: 601px) and (max-width: 1000px) {
        h2 {
          margin: 30px 10px 10px 10px;
          font-size: 1em;
        }
        .separation {
          margin: 15px 0;
        }

        p {
          padding: 0;
          margin: 10px 10px 10px 20px;
          font-size: 0.8em;
          line-height: 1em;
        }
      }
      @media (max-width: 600px) {
        h2 {
          margin: 20px 5px 5px 5px;
          font-size: 0.6em;
        }
        .separation {
          margin: 10px 0;
        }
        p {
          font-size: 0.5em;
          padding: 0;
          line-height: 0.8em;
          margin: 10px 10px 10px 20px;
        }
      }
      @media (min-width: 601px) and (max-width: 1000px) {
        .rdv-tel {
          gap: 0px;
          a {
            font-size: 0.8em;
            line-height: 1.2em;
            .contact-button {
              padding: 6px 12px;
            }
            .telephone-button {
              padding: 6px 12px;
            }
          }
        }
      }
      @media (max-width: 600px) {
        .rdv-tel {
          gap: 0px;
          a {
            font-size: 0.5em;
            line-height: 0.8em;
            .contact-button {
              padding: 3px 6px;
            }
            .telephone-button {
              padding: 3px 6px;
            }
          }
        }
      }
    }
  }
  &.first {
    height: 80vh;
    flex-direction: row-reverse;

    .text-pres {
      width: 56%;
      h2 {
        font-size: 5em;
        font-weight: 400;
        font-family: $title-family;
        color: $primary-color;
        margin: 0;
        text-align: center;
        padding: 0 0 10px 0;
        -webkit-text-stroke: 0.3px #000;
      }
      @media (min-width: 601px) and (max-width: 1200px) {
        h2 {
          font-size: 2.5em;
        }
        .rdv-tel {
          button {
            padding: 6px 12px;
          }
        }
      }
      @media (max-width: 600px) {
        h2 {
          font-size: 1.5em;
        }
        .rdv-tel {
          button {
            padding: 3px 6px;
          }
        }
      }
      p {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.4em;
        margin: 0;
        text-align: center;
        padding-left: 4vw;
      }
      @media (min-width: 601px) and (max-width: 1200px) {
        p {
          font-size: 0.8em;
        }
      }
      @media (max-width: 600px) {
        p {
          font-size: 0.5em;
        }
      }
    }
    .img-pres {
      display: none;
      align-items: center;
    }
  }

  .img-pres {
    width: auto;
    @include image-border-radius($radius);
    margin: 40px 40px 40px 40px;
    align-content: center;
    img {
      width: 100%;
      height: 50vh;
      @include image-border-radius($radius);
      @include image-shadow($shadow-color);
    }
  }

  @media (min-width: 601px) and (max-width: 1200px) {
    .img-pres {
      margin: 20px;
      max-width: 40%;
    }
  }
  @media (max-width: 600px) {
    .img-pres {
      margin: 0 10px;
      img {
        height: 33vh;
      }
    }
  }

  .text-pres {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      @include general-padding-left($leftpadding);
      font-size: 1.5em;
      font-weight: 500;
      font-family: $title-family;
      margin: 30px 20px 20px 20px;
      padding-bottom: 10px;
    }

    p {
      @include general-padding-left($leftpadding);
      font-size: 1.1em;
      font-weight: 500;
      line-height: 1.2em;
      margin: 30px 20px 20px 20px;
    }
    .contact-button {
      background-color: $primary-color;
      color: $button-color;
      @include general-rdv-button;
      margin: 20px 0px 0px 0px;
      font-size: 1.2em;
      line-height: 1.8em;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    @media (min-width: 601px) and (max-width: 1200px) {
      a {
        font-size: 1em;
        line-height: 1.5em;
      }
    }
    @media (max-width: 600px) {
      a {
        font-size: 0.8em;
        line-height: 1.2em;
      }
    }
    @media (max-width: 1000px) {
      .rdv-tel {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.tarifs-access {
  display: flex;
  flex-direction: row;
  padding-right: 200px;
  gap: 5%;
  margin: 0 0 30px 0;
  .googlemap {
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 450px;
    align-self: center;
    iframe {
      border-radius: 30px;
    }

    @media (max-width: 1200px) {
      width: 100%;
      margin: auto;
      iframe {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .tarifs-access {
    flex-direction: column;
    padding-right: 0;
    margin: 0 auto 10px auto;
    width: 90%;
    gap: 30px;
    .tarifs {
      width: 100%;
      flex-direction: row;
    }
    .access {
      width: 100%;
    }
  }
}

.avis {
  width: 95%;
  margin: auto;
}
