@use 'Variables' as *;
@use 'Mixins' as *;

.backimg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  margin-top: 50px;
  .cabimg {
    filter: brightness(95%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    object-position: center;
  }
}
.presentation {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  @include article-gap($gap);
  padding: 115px 0px 0px 10vw;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #fa8072;
  .rdv-tel {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
  }
  &.reverse {
    flex-direction: row;
    justify-content: flex-start;
  }
  &.other {
    background-color: $background-color;
    padding: 0 0 0 10vw;
  }
  &.first {
    height: 80vh;

    .text-pres {
      h2 {
        font-size: 5em;
        font-weight: 400;
        font-family: $title-family;
        color: $primary-color;
        margin: 0;
        padding-bottom: 10px;
        text-align: center;
        padding-left: 4vw;
        // -webkit-text-stroke: 0.3px #000;
      }
      p {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.4em;
        margin: 0;
        text-align: center;
        padding-left: 4vw;
      }
    }
    .img-pres {
      display: flex;
      align-items: center;
    }
  }

  .img-pres {
    width: auto;
    @include image-border-radius($radius);
    margin: 40px 40px 40px 40px;
    img {
      width: auto;
      height: 50vh;
      @include image-border-radius($radius);
      @include image-shadow($shadow-color);
    }
  }

  .text-pres {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      @include general-padding-left($leftpadding);
      font-size: 1.5em;
      font-weight: 500;
      font-family: $title-family;
      margin: 30px 20px 20px 20px;
      padding-bottom: 10px;
    }
    p {
      @include general-padding-left($leftpadding);
      font-size: 1.1em;
      font-weight: 500;
      line-height: 1.2em;
      margin: 30px 20px 20px 20px;
    }
    .contact-button {
      background-color: $primary-color;
      color: $button-color;
      @include general-rdv-button;
      margin: 20px 0px 0px 0px;
    }
  }
}

.tarifs-access {
  display: flex;
  flex-direction: row;
}
