@use 'Variables' as *;
@use 'Mixins' as *;

.access {
  background-color: $background-color;
  width: 23%;
  text-align: center;
  border-radius: 30px;
  margin: 0;
  padding: 30px 0 30px 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  h2 {
    font-size: 1.5em;
    font-weight: 500;
    font-family: $title-family;
  }
  .horaires {
    padding: 15px;
    .jours-heures {
      padding: 0;
      .heures {
        list-style: none;
        margin: 20px;
        font-size: 1.2em;
      }
    }
  }
}
