@use 'Variables' as *;
@use 'Mixins' as *;

.tarifs {
  background-color: $background-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0 20px 0;
  width: 50%;
  border-radius: 30px;
  .presta-tarifs {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 50%;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    &:hover {
      background-color: $primary-color;
      transform: scale(1.02);
      transition: transform 0.3s ease;
      opacity: 0.5;
    }
    h3 {
      color: $button-color;
    }
  }
}
