@use 'Variables' as *;
@use 'Mixins' as *;

.telephone-container {
  .telephone-button {
    background-color: $primary-color;
    color: $button-color;
    @include general-rdv-button;
    margin: 20px 0px 0px 0px;
    font-size: 1.2em;
    line-height: 1.8em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
